{% extends 'base.html' %}

{% block about %}
<style>
    body {
        background-color: #1a1a1a;
        color: #fff;
    }
    a {
        text-decoration: none;
        color: black;
        text-decoration: none;
        color: black;
        margin-right: 10px;
    }
</style>
<div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='img/photo2.jpg') }}" class="d-block mx-lg-auto img-fluid" alt="Теми Bootstrap" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><font style="vertical-align: inherit; color: white;"><font style="vertical-align: inherit;">My beat - my art</font></font></h1>
            <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Welcome to our platform where beats find their own rhythm and energy! Our website is a space where creativity thrives and rhythms become extraordinary. We offer a unique platform for musicians of all levels to showcase their best beats and share them with the world.

    Here, you'll find a diverse range of styles, from hip-hop to electronica, from jazz to rock. We believe in the power of music to unite and inspire. Join our community and share your music with others!</font></font></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">

            </div>
          </div>
        </div>
    </div>

{% endblock %}
