{% extends 'admin/admin_base.html' %}

{% block users %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body {
        color: #fff;
        background: #222;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }
    .table-responsive {
        margin: 30px 0;
    }
    .table-wrapper {
        min-width: 1000px;
        background: #333;
        padding: 20px 25px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 15px;
        background: #555;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }
    .table-title .btn {
        color: #fff;
        float: right;
        font-size: 13px;
        background: #555;
        border: none;
        min-width: 50px;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }
    .table-title .btn:hover, .table-title .btn:focus {
        color: #fff;
        background: #777;
    }
    .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
    }
    .table-title .btn span {
        float: left;
        margin-top: 2px;
    }
    table.table tr th, table.table tr td {
        border-color: #444;
        padding: 12px 15px;
        vertical-align: middle;
    }
    table.table tr th:first-child {
        width: 60px;
    }
    table.table tr th:last-child {
        width: 100px;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #444;
    }
    table.table-striped.table-hover tbody tr:hover {
        background: #555;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }
    table.table td a {
        font-weight: bold;
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }
    table.table td a:hover {
        color: #ddd;
    }
    table.table td a.settings {
        color: #62c9e8;
    }
    table.table td a.delete {
        color: #ff5b5b;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }
    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }
    .text-success {
        color: #10c469;
    }
    .text-info {
        color: #62c9e8;
    }
    .text-warning {
        color: #FFC107;
    }
    .text-danger {
        color: #ff5b5b;
    }
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }
    .pagination li a:hover {
        color: #666;
    }
    .pagination li.active a, .pagination li.active a.page-link {
        background: #03A9F4;
    }
    .pagination li.active a:hover {
        background: #0397d6;
    }
    .pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
    .panel-default {
        background: linear-gradient(to right, #8e44ad, #c0392b);
        color: #fff;
    }
    .panel-default:nth-child(2) {
        background: linear-gradient(to right, #27ae60, #f39c12);
    }
    .panel-default:last-child {
        background: linear-gradient(to right, #2980b9, #e67e22);
    }
</style>
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
<body>
<div class="container-fluid">
    <div class="table-responsive">
        <a href="/" class="btn btn-primary" style="margin-bottom: 20px;">Повернутись на головну</a>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>User <b>Management</b></h2>
                    </div>
                </div>
            </div>
            <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ beats }}</h3>
                    <p>Music</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ posts }}</h3>
                    <p>Posts</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ users }}</h3>
                    <p>Users</p>
                </div>
            </div>
        </div>
    </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Avatar</th>
                        <th>Header</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in user %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td><a href="/profile/{{ i.login }}"> {{ i.name }}</a></td>
                        <td>{{ i.email }}</td>
                        <td>{{ i.login }}</td>
                        <td>
                            <span class="password copy-password" title="{{ i.psw }}">{{ i.psw[:8] }}...</span>
                        </td>
                        <td>
                            <span class="password copy-password" title="{{ i.avatar }}">{{ i.avatar[:8] }}...</span>
                        </td>
                        <td>
                            <span class="password copy-password" title="{{ i.header }}">{{ i.header[:8] }}...</span>
                        </td>
                        <td>
                            <a href="/change_profile/{{ i.login }}" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="{{ url_for('admin.delete_user', username=i.login) }}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const copyPasswordElements = document.querySelectorAll('.copy-password');
        copyPasswordElements.forEach(function(element) {
            let startX;
            let endX;

            element.addEventListener('click', function() {
                const password = this.getAttribute('title');
                const tempTextarea = document.createElement('textarea');
                tempTextarea.value = password;
                document.body.appendChild(tempTextarea);
                tempTextarea.select();
                document.execCommand('copy');
                document.body.removeChild(tempTextarea);
                alert('Password copied: ' + password);
            });

            element.addEventListener('touchstart', function(event) {
                startX = event.changedTouches[0].screenX;
            });

            element.addEventListener('touchend', function(event) {
                endX = event.changedTouches[0].screenX;
                if (startX === endX) {
                    const password = this.getAttribute('title');
                    const tempTextarea = document.createElement('textarea');
                    tempTextarea.value = password;
                    document.body.appendChild(tempTextarea);
                    tempTextarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(tempTextarea);
                    alert('Password copied: ' + password);
                }
            });
        });
    });
</script>
{% endblock %}
